body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
}

#canvas {
  background-color: green;
  flex: 1;
  min-width: 0;
  min-height: 0;
}
